html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    transform-style: preserve-3d;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    outline: none;
}
header {
    width: 100%;
    height: 170px;
    background-color: #1976D2;
    color: white;
    font-family: 'Helvetica';
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 650px;
    height: auto;
    background-image: url(image/LogoWhiteAddText.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: 1% 0 0 10%;
}
.logo-text {
    position: absolute;
    font-size: 24px;
    text-align: center;
    color: #c9c9c9;
    margin: 6.8% 0 0 21%;
}
.contacts {
    float: right;
    line-height: 1.8em;
    font-size: 28px;
    padding: 0% 9% 0 0%;
}
.contacts i {
  color: #ffb841;
}
div.parallaxfake-line0 {
    box-sizing: border-box;
    margin: 0;
    padding: 10% 10vw;
    background-image: url(image/parallax1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    background-attachment: fixed;
    min-height: 100%;
    text-align: center;
    position: relative;
    width: 100vw;
    color: white;
}
div.parallaxfake-line0 h1 {
   padding-top: 30px;
   font-family: 'Helvetica';
   font-size: 45px;
   font-weight: 300;
}
div.parallaxfake-line0 p {
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3em;
    color: white;
    text-align: left;
    padding: 0 5%;
}
div.parallaxfake-line0 img {
   border-radius: 100px;
   margin-top: 1%;
}
offer {
    color: white;
    line-height: 1.7em;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Helvetica';
}
.parallaxfake-line0 i {
    color: #ffb841;
}
.parallax-box {
    width: 100%;
    height: 100%;
    background-color: #0288D1;
    opacity: 0.97;   
}
#aspekt {
    font-weight: 400;
    color: #ffb841;
}
#aspekt-green {
  font-weight: 400;
  color: #01b87c;
}
#aspekt-red {
  font-weight: 400;
  color: #dd4f43;
}
#aspekt-red-small {
  color: #dd4f43;
}
#aspekt-p {
    font-weight: 700;
    color: #ffb841;
}
#aspekt-down {
  color: #c9c9c9;
  font-size: 24px;
}
#aspekt-img {
    font-weight: 400;
    color: #ffb841;
    font-size: 34px;
}
/*input custom*/
input, 
button {
    -webkit-transition: 100ms ease;  
    -moz-transition: 100ms ease;  
    -o-transition: 100ms ease;  
    transition: 100ms ease;
}

input {
    padding: 10px;
    border: 3px solid #c9c9c9;
    width: 230px;
    font-size: 20px;
    outline: none;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
}
input:focus {
    border: 3px solid #ffb841;
    cursor: text;
    background-color: white;
}

.button-send {
    width: 200px;
    font-size: 20px;
    padding: 13px;
    border: none;
    background: #0288D1;
    box-sizing: border-box;
    color: white;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10%;
    border-radius: 3px;
}
.button-send:hover {
  background: #ffb841;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  width: 500px;
  height: auto;
  border-radius: 5px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group h4 {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  color: #0f1d41;
  font-family: 'Helvetica';
  margin-bottom: 3%;
}
.form-title {
  font-family: 'Helvetica';
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  color: #0f1d41;
  border-bottom: 2px solid #0f1d41;
  width: 100%;
  padding-bottom: 2%;
}
#form-text {
  width: 400px;
  height: 200px;
  padding: 10px;
  border: 3px solid #c9c9c9;
  width: 230px;
  font-size: 20px;
  outline: none;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
}
#form-text:focus {
  border: 3px solid #ffb841;
  cursor: text;
  background-color: white;
}
#check_bot {
  display: none;
}
.correct {
  position: absolute;
  background-color: red;
  width: 400px;
  height: 400px;
  border-radius: 5px;
  transition: 1s;
}
.button-correct {
    width: 200px;
    font-size: 20px;
    padding: 13px;
    border: none;
    background: #0288D1;
    box-sizing: border-box;
    color: white;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10%;
    border-radius: 3px;
    z-index: 100;
}
.button-correct:hover {
  background: #ffb841;
}
input::-webkit-input-placeholder       {color: #c9c9c9;opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {color: #c9c9c9;opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {color: #c9c9c9;opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {color: #c9c9c9;opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {color: #c9c9c9;opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {color: #c9c9c9;opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {color: #c9c9c9;opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {color: #c9c9c9;opacity: 0; transition: opacity 0.3s ease;}
/*input custom end*/

.btn1 {
    width: 381.17px;
    margin-top: 2%;
    padding: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff; 
    font-family: 'Helvetica';
    font-weight: 700; 
    font-size: 20px; 
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}
.btn1:after {
   content: '';
   position: absolute; 
   top: 0;
   left: 0;
   width: 100%;
   height: 0;
   text-align: center;
   line-height: 67px;
   font-family: 'Helvetica';
   font-weight: 700; 
   font-size: 20px; 
   background: #fff;
   color: #ffb841;
   -webkit-transition: 0.3s;
   transition: 0.3s;
}
.btn1:hover:after, .btn1:active:after {
    content: 'Оставить заявку';
    height: 100%;
}
/*  Container  */


.container-light {
    width: 100%;
    height: 490px;
    position: relative;
    background: #f4f4f4;
    z-index: 1;
}
.container-light .logotype {
    height: auto;
    position: absolute;
    float: left;
    padding: 2.5% 5%;
    font-size: 24px;
    transition: .3s;
    color: #161a1e;
    font-family: 'Helvetica';
}
div.container-light h1 {
   font-family: 'Helvetica';
   font-size: 45px;
   font-weight: 300;
   text-align: center;
   padding: 30px 0 20px;
   color: #0f1d41;
   margin: 0;
}
div.container-light p {
   font-family: 'Helvetica';
   font-size: 20px;
   width: 300px;
   font-weight: 300;
   text-align: center;
   line-height: 1.3em;
   color: #0288D1;
}
.img-container {
  display: flex;
  justify-content: center;
}
.img-container-pic {
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-dark {
    width: 100%;
    height: 690px;
    position: relative;
    background: #282e34;
    z-index: 1;
}
.container-dark .logotype {
    height: auto;
    position: absolute;
    float: left;
    padding: 2.5% 5%;
    font-size: 24px;
    transition: .3s;
    color: #ddd;
    font-family: 'Helvetica';
}
div.container-dark h1 {
   font-family: 'Helvetica';
   font-size: 45px;
   font-weight: 300;
   text-align: center;
   padding: 30px 0 50px;
   color: #ffb841;
   margin: 0;
}
div.container-dark p {
   font-family: 'Georgia';
   font-size: 20px;
   font-weight: 300;
   padding: 0px 5%;
   margin: 0;
   text-align: justify;
   line-height: 1.3em;
   color: #ddd;
}
div.parallaxfake-line1 {
    box-sizing: border-box;
    margin: 0;
    padding: 10% 10vw;
    background-image: url(image/parallax0.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    background-attachment: fixed;
    min-height: 100%;
    text-align: center;
    position: relative;
    width: 100vw;
    color: white;
}
div.parallaxfake-line1 h1 {
   font-family: 'Helvetica';
   padding-top: 30px;
   font-size: 45px;
   font-weight: 300;
}
div.parallaxfake-line1 p {
    font-family: 'Georgia';
    font-weight: 300;
    font-size: 20px;
    line-height: 1.3em;
    color: #c9c9c9;
    text-align: left;
    padding: 0 5%;
}
offer {
    color: white;
    line-height: 1.7em;
    letter-spacing: 1px;
    font-weight: 700;
}
.parallaxfake-line1 i {
    color: #ffb841;
}

/*       SLIDER          */

.sliderA {
    box-shadow: 0 0 3px #000;
    position: relative;

    overflow: hidden;

    width: 100%;
    max-width: 1920px;
    height: 790px;
    text-align: center;
}
.sliderA > img {
    object-fit: cover;
}

.sliderA > input {
    display: none;
}
.sliderA > input + label {
    position: relative;
    z-index: 100;
    top: 90%;

    display: inline-block;

    width: 10px;
    height: 10px;
    margin-right: 4px;

    cursor: pointer;
    transition: background .8s ease-out 0s;

    border: 2px solid white;
    border-radius: 8px;
    background: #2a61ae;
}

.sliderA > input + label:hover {
    background: white;
}

.sliderA > input:checked + label {
    background: white;
}
.sliderA > div {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    max-width: 1920px;
}
.sliderA > div {
    visibility: hidden;

    transition: opacity .8s ease-out .1s, visibility .1s ease-out .9s;

    opacity: 0;
}
.sliderA > input:checked + label + div {
    visibility: visible;

    transition: opacity .8s ease-out .1s, visibility .1s ease-out 0s;

    opacity: 1;
}
.sliderA > div > p {
    font-family: 'Helvetica';
    font-size: 18pt;

    position: absolute;
    top: 640px;
    right: 0px;
    left: -5.2%;

    width: 100%;
    max-width: 1920px;

    text-align: center;

    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
.sliderA > input + label + div + label {
    display: none;
}
.sliderA > input:checked + label + div + label {
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
}

/* SLIDER END*/
.cards-layout {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}
.card {

}
.photo-avatar1 {
  background-image: url(image/avatar1.jpg);
  background-size: contain;
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 1000px;
}
.photo-avatar2 {
  background-image: url(image/avatar2.jpg);
  background-size: contain;
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 1000px;
  transform: rotate(90deg);
  transform-origin: center;
}

.photo-avatar3 {
  background-image: url(image/avatar3.jpg);
  background-size: contain;
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 1000px;
}

.photo-avatar4 {
  background-image: url(image/avatar4.jpg);
  background-size: contain;
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 1000px;
  transform: rotate(90deg);
  transform-origin: center;

}
.photo-avatar5 {
  background-image: url(image/avatar5.jpg);
  background-size: contain;
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 1000px;
  transform: rotate(90deg);
  transform-origin: center;

}










/*                    laptoop nout START                     */


@media screen and (min-width: 769px) and (max-width: 1366px) {
      

.container-light {
    width: 100%;
    height: 430px;
    position: relative;
    background: #f4f4f4;
    z-index: 1;
}
.container-light .logotype {
    height: auto;
    position: absolute;
    float: left;
    padding: 2.5% 5%;
    font-size: 24px;
    transition: .3s;
    color: #161a1e;
    font-family: 'Helvetica';
}
div.container-light h1 {
   font-family: 'Helvetica';
   font-size: 35px;
   font-weight: 300;
   text-align: center;
   padding: 30px 0 20px;
   color: #0f1d41;
   margin: 0;
}
div.container-light p {
   font-family: 'Helvetica';
   font-size: 20px;
   width: 300px;
   font-weight: 300;
   text-align: center;
   line-height: 1.3em;
   color: #0288D1;
}
.img-container {
  display: flex;
  justify-content: center;
}
.img-container-pic img{
  width: 150px;
  height: 150px;
}
.img-container-pic {
  padding: 2% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#aspekt-img {
    font-weight: 400;
    color: #ffb841;
    font-size: 24px;
}
.photo-avatar1 {
  background-image: url(image/avatar1.jpg);
  background-size: contain;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  border-radius: 1000px;
}
.photo-avatar2 {
  background-image: url(image/avatar2.jpg);
  background-size: contain;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  border-radius: 1000px;
  transform: rotate(90deg);
  transform-origin: center;
}

.photo-avatar3 {
  background-image: url(image/avatar3.jpg);
  background-size: contain;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  border-radius: 1000px;
}

.photo-avatar4 {
  background-image: url(image/avatar4.jpg);
  background-size: contain;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  border-radius: 1000px;
  transform: rotate(90deg);
  transform-origin: center;

}
.photo-avatar5 {
  background-image: url(image/avatar5.jpg);
  background-size: contain;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  border-radius: 1000px;
  transform: rotate(90deg);
  transform-origin: center;

}

    /**/
}


/*                     laptoop nout END                     */


